In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
df_tmp=pd.read_html("https://tw.stock.yahoo.com/us/s/kimo_listUS7.html?rr=15729529265200.9573216999662257",encoding="big5")

In [9]:
len(df_tmp)

3

In [19]:
df=df_tmp[1]

In [11]:
df.head()

,股票代號英文名稱,時間,成交,買進,賣出,漲跌,成交量,昨收,開盤,最高,最低
0,ALLTEL(Alltel Corp),05:02am,2.44,—,—,△0.04,351880,2.40,2.42,2.44,2.38
1,中國通訊(China Mobile (Hong Kong) Ltd),05:02am,40.21,40.06,44.86,▽0.65,683813,40.86,40.34,40.34,40.09
2,Sprint Nextel(Sprint Nextel Group),05:00am,5.91,5.86,6.06,▽0.2,19812884,6.11,6.06,6.12,5.84
3,摩托羅拉(Motorola Inc),05:02am,161.15,158.17,164.61,▽3.81,1157804,164.96,162.34,163.41,160.15
4,諾基亞(Nokia Corp),05:03am,3.53,3.50,3.51,▽0.04,39811972,3.57,3.50,3.57,3.50

## 搜尋

In [20]:
df_rank=df[["股票代號英文名稱","時間","成交","買進","賣出"]]

In [21]:
df_rank[df_rank.股票代號英文名稱=="摩托羅拉(Motorola Inc)"]

             股票代號英文名稱       時間      成交      買進      賣出
3  摩托羅拉(Motorola Inc)  05:02am  161.15  158.17  164.61

In [23]:
df_rank[df_rank.股票代號英文名稱==input(">>")]

>>諾基亞(Nokia Corp)

          股票代號英文名稱       時間    成交    買進    賣出
4  諾基亞(Nokia Corp)  05:03am  3.53  3.50  3.51